body {
    font-family: Arial, sans-serif;
    background-image: url("m.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: linear-gradient(to bottom, #75486e, #d15473);
    width: 400px;
    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(230, 36, 41, 0.5);

    text-align: center;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

button {
    width: 100%;
    padding: 12px;
    margin: 5px 0;

    border: none;
    border-radius: 5px;

    background-color: #530041;
    color: rgb(255, 150, 150);

    cursor: pointer;
}

button:hover {
    background: #897194;
}

#resultado {
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
}